<h1>User Info</h1>

<div>
    
<h2>Total Cost</h2>

<label for="user-email-sign-in">User Email:</label>
<input class="form-input" type="text" id="email-input" />
</div>

<div class="account-create">

<h2>Create an account</h2>

<label for="user-email-sign-up">Create an account:</label>
<input class="form-input" type="text" id="email-input" />
<input class="form-input" type="text" id="usermame-input" />
<input class="form-input" type="text" id="password-input" />
</div>

<button class="complete-sale-button">COMPLETE SALE</button>