
<div class="purchasers">

    
   
        {{#each purchasers as |buyer| }}

        <div class="individual-purchaser">
        
           <div class="purchaser-id"> ID#: {{buyer.id}} </div>
            <div class="purchaser-name"> Name: {{buyer.name}} </div>
            <div class="purchaser-email"> Email: {{buyer.email}} </div>
            
            {{#if buyer.orders}}
            <div class="h-1 w-full bg-black mt-1"></div>
            {{#each buyer.orders as |order|}}


            <div>Previous Order: {{money order.order_price}}</div>
            

            {{/each}}
            {{/if}}

       


        </div>

        {{/each}}

    

</div>