<div class="flex w-full">
    <div id="storeItems" class="flex flex-wrap w-4/6">
        
        {{> item_quantity_partial}}

       
        
    </div>

    <div class="flex w-2/6">
        
     {{> receipt_partial}}
     
    </div>
    
</div>

<script src="./../../../js/individual-item.js"></script>
