<div class=" sales-history-buttons items-center m-3.5 text-2xl w-1/4">

    <div class="items-center w-full">
        <button class="sales-history-button w-full" id="myOrdersButton">My
            Orders</button>
    </div>

    <div class="items-center w-full">
        <button class="purchasers-button w-full" id="buyersBtn"> Purchasers</button>
    </div>

    <div class="items-center w-full">
        <button class="inventory-button w-full" id="inventoryButton">Inventory</button>
    </div>

</div>

<script src="./../js/seller-history.js"></script>